affine
annotated-types
anyio
anywidget
appnope
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
babel
beautifulsoup4
bleach
bottleneck
bqplot
branca
brotlicffi
cachetools
certifi
cffi
charset-normalizer
click
click-plugins
cligj
cloudpickle
comm
contourpy
cycler
dask
debugpy
decorator
defusedxml
duckdb
eval_type_backport
executing
fastjsonschema
filelock
folium
fonttools
fqdn
fsspec
gdown
geojson
geopandas
h11
httpcore
httpx
idna
ipyevents
ipyfilechooser
ipykernel
ipyleaflet
ipython
ipython_pygments_lexers
ipytree
ipyvue
ipyvuetify
ipywidgets
isoduration
jedi
Jinja2
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-leaflet
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kiwisolver
lab
lark
leafmap
locket
mapclassify
maplibre
MarkupSafe
matplotlib
matplotlib-inline
mistune
narwhals
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
notebook_shim
numexpr
numpy
odc-geo
odc-loader
odc-stac
packaging
pandas
pandocfilters
parso
partd
pexpect
pillow
platformdirs
plotly
prometheus_client
prompt_toolkit
psutil
psygnal
ptyprocess
pure_eval
pycparser
pydantic
pydantic_core
Pygments
pyogrio
pyparsing
pyproj
PySocks
pystac
pystac-client
python-box
python-dateutil
python-json-logger
pytz
PyYAML
pyzmq
rasterio
referencing
requests
rfc3339-validator
rfc3986-validator
rfc3987-syntax
rioxarray
rpds-py
scikit-learn
scipy
scooby
Send2Trash
setuptools
shapely
simplejson
six
sniffio
soupsieve
stack-data
terminado
threadpoolctl
tinycss2
toolz
tornado
tqdm
traitlets
traittypes
txt2tags
typing-inspection
typing_extensions
tzdata
uri-template
urllib3
wcwidth
webcolors
webencodings
websocket-client
wheel
whitebox
whiteboxgui
widgetsnbextension
xarray
xyzservices
